{% extends 'base.html' %}
{% block title %}
    <title>Students edit</title>
{% endblock %}
{% block links_scripts %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <script>
            $(function () {
                $(".date_picker").datepicker();
            });

        </script>
        <button type="submit">EDIT</button>
        <button type="button" onclick='history.back()' value="reset">CANCEL</button>
        <input type="button" onclick="window.location.href='{% url 'students:remove' form.instance.uuid %}'"
               value="DELETE"/>
    </form>
{% endblock %}