{% extends 'base.html' %}
{% block title %}
    <title>All sudents</title>
{% endblock %}
{% block content %}
    <p>
        <a href="{% url 'students:create' %}">Create student</a>
    </p>
    <table border="1">
        <tr>
            <td>
                <form>
                    <label for="first_name">First name: </label>
                    <input name="first_name"><br>
                    <label for="last_name">Last name: </label>
                    <input name="last_name"><br>
                    <label for="rating">Birth date: </label>
                    <input name="rating"><br>
                    <button type="submit">Search</button>
                </form>
            </td>
        </tr>
    </table>
    <p></p>
    <table border="1">
        <caption>Students</caption>
        <tr>
            <th></th>
            <th>#</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Rating</th>
            <th>Date of birth</th>
            <th>Telephone</th>
            <th>Group</th>
        </tr>
        {% for student in all_students %}
            <tr>
                <td><a href="{% url 'students:edit' student.uuid %}">EDIT</a></td>
                <td> {{ student.id }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.rating }}</td>
                <td>{{ student.date_of_birth }}</td>
                <td> {{ student.phone_number }}</td>
                <td>{{ student.group.group_name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}