{% extends 'base.html' %}
{% block title %}
    <title>Edit group</title>
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">SUBMIT</button>
        <button type="button" onclick='history.back()' value="reset">CANCEL</button>
        <input type="button" onclick="window.location.href='{% url 'groups:remove' form.instance.uuid %}'"
               value="DELETE"/>
    </form>
{% endblock %}