{% extends 'base.html' %}
{% block title %}
    <title>All groups</title>
{% endblock %}
{% block content %}
    <p>
        <a href="{% url 'groups:create' %}">Create group</a>
    </p>
    <table border="1">
        <caption>Students</caption>
        <tr>
            <th>#</th>
            <th>Group name</th>
            <th>Group description</th>
            <th>Teacher</th>
            <th>headman</th>
            <th></th>
        </tr>
        {% for group in all_groups %}
            <tr>
                <td> {{ group.id }}</td>
                <td>{{ group.group_name }}</td>
                <td>{{ group.description }}</td>
                <td>
                    <table>
                        <tr>
                            <td>{{ group.teacher.first_name }}</td>
                            <td>{{ group.teacher.last_name }}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>{{ group.headman.first_name }}</td>
                            <td>{{ group.headman.last_name }}</td>
                        </tr>
                    </table>
                </td>
                <td><a href="{% url 'groups:edit' group.uuid %}">EDIT</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}