<br>
<h2>Do you really want to delete?</h2>
<h1>{{ what_to_delete }}</h1>
<form method="post">
    {% csrf_token %}
    <button name="YES" type="submit">YES</button>
    <button name="NO" type="button" onclick='history.back()'
            value="reset">NO
    </button>
</form>