{% extends 'base.html' %}
{% block title %}
    <title>Edit teacher</title>
{% endblock %}
{% block content %}
    <table border="1">
        <tr>
            <td>
                <form name="create_teacher" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button name="create" type="submit">SUBMIT</button>
                    <button type="button" onclick=onclick='history.back()' value="reset"> CANCEL</button>
                    <input type="button" onclick="window.location.href='{% url 'teachers:remove' form.instance.uuid %}'"
                           value="DELETE"/>
                </form>
            </td>
        </tr>
    </table>
    <p>
    </p>
    {% if groups|length == 0 %}
        <span>Teacher does not has groups!</span>
    {% else %}
        <table border="1">
            <caption>Groups</caption>
            <tr>
                <th>Group name</th>
            </tr>
            {% for group in groups %}
                <tr>
                    <th><a href="{% url 'groups:edit' group.uuid %}">{{ group.group_name }}</a></th>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}