{% extends 'base.html' %}
{% block title %}
    <title>Create teacher</title>
{% endblock %}
{% block content %}
    <table border="1">
        <tr>
            <td>
                <form name="create_user" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button name="create" type="submit">Create</button>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}