{% extends 'base.html' %}
{% block title %}
    <title>All teachers</title>
{% endblock %}

{% block content %}
    <a href="{% url 'teachers:create' %}">Create teacher</a>
    <p></p>
    <table border="1">
        <caption>Teachers</caption>
        <tr>
            <th></th>
            <th>#</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Date of birth</th>
        </tr>
        {% for teacher in all_teachers %}
            <tr>
                <td><a href="{% url 'teachers:edit' teacher.uuid %}">EDIT</a></td>
                <td> {{ teacher.id }}</td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.date_of_birth }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
